.sidebar-enter {
  transform: translateX(100%);
}
.sidebar-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}
.sidebar-exit {
  transform: translateX(0);
}
.sidebar-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}
.truncate-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit text to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2; /* Adjust line height if necessary */
}
